PORT=3000
DATABASE_URL=postgresql://video_database_6e1r_user:180siNuvN0DKB91hTtif7RRv62VvSHpT@dpg-daigog95efls73df5d40-a.ohio-postgres.render.com/video_database_6e1r
BACKEND_URL=http://YOUR_BACKEND_VPS_IP_OR_DOMAIN:3000
JWT_SECRET=super_secret_production_jwt_key_987654321
JWT_EXPIRES_IN=7d
SUPER_ADMIN_EMAIL=admin@videostudio.com
